div.inside-banner {
    background-color: rgb(212, 215, 230)
}
.pull-right {
    float: right!important;
    margin-top: 21px;
}
div.search-form {
    padding-top: 61px;
    padding-bottom: 32px;
}
 div.properties {
    padding: 10px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.listing-detail span {
    color: #fff;
    width: 25px;
    height: 25px;
    background-color: #555;
    display: inline-block;
    border-radius: 25px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    cursor: crosshair;
}
.h2, h2 {
    -webkit-text-fill-color: rgb(15, 15, 163);
    text-shadow: 2px 2px 5px rgb(175, 128, 212);
}