div.inside-banner {
    background-color: rgb(212, 215, 230)
}
.pull-right {
    float: right!important;
    margin-top: 21px;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 124px;
    margin-left: 237px
}
.h2, h2 {
    -webkit-text-fill-color: rgb(15, 15, 163);
    text-shadow: 2px 2px 5px rgb(175, 128, 212);
    
  
    margin-left: 413px;


}

    div.info {
        margin-left: 603px;
    }
div.creativehouse {

}
p {
    margin: 0 0 10px;
    width: 677px;
    margin-left: 395px;
    padding: 28px;
    -webkit-text-fill-color: rgb(83, 83, 161);
}