div.inside-banner {
    background-color: rgb(212, 215, 230)
}
.pull-right {
    float: right!important;
    margin-top: 21px;
}
.h2, h2 {
    -webkit-text-fill-color: rgb(15, 15, 163);
    text-shadow: 2px 2px 5px rgb(175, 128, 212);
    margin-left: -106px;

}
.thumbnail {
    width: 583px;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
div.card {
    box-shadow: 0 5px 15px rgb(17 233 13 / 50%);
    border: 2px solid green;
    height: 362px;
}
.h6, h6 {
    font-size: 20px;
    margin-left: 146px;
}
.form-control {
    display: block;
    width: 74%;
    height: 34px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    margin-left: 65px;
    -webkit-text-fill-color: rgb(54, 150, 41);
}