
.btn-info {
    background: #333;
    border: 4px solid #ddd;
    padding: 3px 20px;
    font-size: 20px;
    border-radius: 20px;
}
div#collapsibleNavbar.collapse.navbar-collapse {
    padding-left: 189px;
}


body {
    background: #ffffff;
    color: #898989;
    font-family: 'Poppins', helvetica;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  div.log-reg {
      
    margin-left: 238px;
    margin-top: 52px;

  }
  div.model-content{
    padding: 20px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    border: 2px solid;
    width: 590px;
    height: 238px;
    margin-top: 37px;
    
    margin-left: 298px;

}
div.overlay {
    background: url(images/5.jpg) no-repeat;
}
    .footer {
        background: url(../images/bg.jpg) #222;
        padding: 20px 0;
        color: #999;
    }
    .btn-success {
        background: #72b70f;
        border: 1px solid #72b70f;
        padding: 6px 20px;
        font-size: 16px;
        width: 77%;
    }
    a {
        color: #72b70f;
        text-decoration: none;
        outline: none;
    }
    div.land{
        background: url(images/land.jpeg) no-repeat;
    }
    .h2, h2 {
        font-size: 48px;
        margin-left: 518px;
        -webkit-text-fill-color:  #72b70f;
    }
    .h3, h3 {
        margin-left: 489px;
        font-size: 24px;
        -webkit-text-fill-color:  #bfe48b;
        text-shadow: 2px 2px 5px rgb(175, 128, 212);
    }
    
    